<div *ngIf="video; else elseVideoBlock" class="grid grid-cols-12 mx-auto p-5 mt-5">

  <div class="col-span-12 justify-self-center bg-slate-100 relative">
    <img class="rounded-lg" [src]="video.media || mediaDefaut" [alt]="video.nom">

    <div class="absolute bottom-5 right-10 bg-slate-100/50 flex flex-row gap-x-4 px-4 py-2 rounded-lg items-center">
      <mat-icon *ngIf="video.subtitle === 'cc'" aria-hidden="false" aria-label="Icon closed caption"
        fontIcon="closed_caption" class="scale-150  text-white"></mat-icon>
      <mat-icon *ngIf="video.subtitle === 'st'" aria-hidden="false" aria-label="Icon subtitles" fontIcon="subtitles"
        class="scale-150 text-white"></mat-icon>
      <mat-chip-option class="card__duree">{{ video.duree | formatDuree }}</mat-chip-option>
    </div>
  </div>

  <div class="col-span-12 text-4xl my-5">{{ video.nom }}</div>

  <div class="col-span-12 lg:col-span-9  my-5 flex flex-row justify-between">
    <app-utilisateur [utilisateur]="video.auteur"></app-utilisateur>
    <app-thumbs [score]="video.score" [id_video]="video.id"></app-thumbs>
  </div>

  <div
    class="col-span-12 lg:col-span-3  lg:col-start-10 lg:col-end-13 lg:row-start-3 lg:row-end-6 lg:ml-5  p-5 bg-blue-50 rounded-lg my-5">
    <app-info-video [video]="video"></app-info-video>
  </div>

  <div *ngIf="video.description" class="col-span-12 lg:col-span-9 my-5">
    <div><span class="font-bold">Description: </span>{{ video.description }}</div>
  </div>


  <div *ngIf="video.avis; else elseAvisBlock" class="col-span-12 lg:col-span-9">
    <div class="font-bold">{{ video.avis.length }} commentaire<span *ngIf="video.avis.length > 1">s</span>:
    </div>
    <ul>
      <li *ngFor="let oneAvis of video.avis" role="listitem" class="my-5">
        <div class="grid grid-cols-12 rounded-lg p-3"
          [class]="{'bg-green-50': oneAvis.note > 5, 'bg-red-50': oneAvis.note <= 5}">
          <div class="col-span-10 overflow-hidden ">{{ oneAvis.commentaire }}</div>
          <div class="col-span-2 ml-5 text-right">{{ oneAvis.note }} / 10</div>
        </div>
      </li>
    </ul>
    <div *ngIf="!video.avis || video.avis === undefined" class="col-span-12 bg-blue-50 rounded-lg p-3 my-5">Aucun avis
    </div>
  </div>
  <ng-template #elseAvisBlock>
    <div class="col-span-12 lg:col-span-9">Aucun commentaire pour l'instant. Consulter la page d'administration pour en
      ajouter</div>

  </ng-template>
  <div class="col-span-12 lg:col-span-9 flex justify-center">
    <button (click)="openFormAvis()"
      class="bg-blue-500 rounded-lg px-20 py-5 text-white text-xl focus:scale-110 hover:scale-110 mr-6">
      Ajouter un avis
    </button>
  </div>

</div>

<!-- Si mauvais url qui donne un code invalide, les usagés coquins -->
<ng-template #elseVideoBlock>
  <div class="mx-auto flex flex-col items-center">
    <p class="text-5xl py-10">Cette URL est invalide</p>
    <button type="button" (click)="goBack()"
      class="text-3xl bg-red-600 p-6 text-white rounded-lg hover:shadow-lg hover:scale-110 focus:shadow-lg focus:scale-110 focus:outline-none">Retouner
      à la page
      précédante</button>
  </div>
</ng-template>
