<div *ngIf="video; else elseVideoBlock" class="grid grid-cols-12 mx-auto p-5">

  <img [src]="video.media || mediaDefaut" [alt]="video.nom"
    class="col-span-12 justify-self-center bg-slate-100 rounded-lg">

  <div class="col-span-12 text-4xl my-5">{{ video.nom }}</div>

  <div class="col-span-12 lg:col-span-9  my-5">
    <div class="flex flex-row justify-between">
      <app-utilisateur [utilisateur]="video.auteur"></app-utilisateur>
      <app-thumbs [score]="video.score"></app-thumbs>

    </div>

  </div>


  <div
    class="col-span-12 lg:col-span-3  lg:col-start-10 lg:col-end-13 lg:row-start-3 lg:row-end-6 lg:ml-5  p-5 bg-blue-50 rounded-lg my-5">
    <!-- border-solid border-2 border-blue-300 -->
    <app-categories [categories]="video.categories" [stacked]="isLargerThen1024" [color]="true"></app-categories>
    <div class="mt-5 flex flex-row lg:flex-col justify-start gap-x-5 lg:gap-y-3">
      <div>Publié le: {{ video.datePublication }}</div>
      <div>Visionné: {{ video.nbVues }}</div>
    </div>
    <div class="text-right lg:mt-5">Vidéo: {{ video.code }}</div>

  </div>

  <div *ngIf="video.description" class="col-span-12 lg:col-span-9 my-5">
    <div><span class="font-bold">Description: </span>{{ video.description }}</div>
  </div>


  <div *ngIf="video.avis" class="col-span-12 lg:col-span-9">
    <div class="font-bold">{{ video.avis.length }} commentaire<span *ngIf="video.avis.length > 1">s</span>:
    </div>
    <ul>
      <li *ngFor="let oneAvis of video.avis" role="listitem" class="my-5">
        <div class="grid grid-cols-12 rounded-lg p-3"
          [class]="{'bg-green-50': oneAvis.note > 5, 'bg-red-50': oneAvis.note <= 5}">
          <div class="col-span-10 overflow-hidden ">{{ oneAvis.commentaires }}</div>
          <div class="col-span-2 ml-5 text-right">{{ oneAvis.note }} / 10</div>
        </div>
      </li>
    </ul>
    <div *ngIf="!video.avis || video.avis === undefined" class="col-span-12 bg-blue-50 rounded-lg p-3 my-5">Aucun avis
    </div>
  </div>
</div>

<!-- Si mauvais url qui donne un code invalide, les usagés coquins -->
<ng-template #elseVideoBlock>
  <div class="mx-auto flex flex-col items-center">
    <p class="text-5xl py-10">Cette URL est invalide</p>
    <div>
      <button type="button" (click)="goBack()"
        class="text-3xl bg-red-600 p-6 text-white rounded-lg hover:shadow-lg hover:scale-110 focus:shadow-lg focus:scale-110 focus:outline-none">Retouner
        à la page
        précédante</button>
    </div>
  </div>
</ng-template>

<!--

idée:

- ajouter soit rien CC ou ST selon la valeur video.subtitle


TODO voir exercice du dernier cours pour ce devoir et les autres cours afin de s'assurer de rien oublier


    duree: 12,
    score: 0, donner un style différent lors d'un bon score

    subtitle: '',
    avis: [
      {
        note: 0,
        commentaires: '',
      },
    ],
  },

 -->