<mat-card class="card__video hover:scale-110 focus:scale-110 focus:outline-none" (click)="goTo()" tabindex="0">

  <img mat-card-image [src]="video?.media || mediaDefaut" [alt]="video?.nom" class="bg-slate-100">

  <mat-chip-option class="card__duree">{{ video?.duree }}</mat-chip-option>

  <div *ngIf="video" class="card__honor">
    <img *ngIf=" video.score >= 5000" [src]="imgStar" alt="Icône star">
    <img *ngIf="video.score <= -5000" [src]="imgCitron" alt="Petit citron">
  </div>


  <mat-card-header>
    <mat-card-title
      [ngClass]="{'text-green': video && video.score >= 5000, 'text-red': video && video.score <= -5000 }">{{ video?.nom
      }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <app-utilisateur [utilisateur]=" video?.auteur"></app-utilisateur>
    <p class="pt-4">{{ video?.nbVues }} visionnements - publié {{ video?.datePublication }}</p>
    <p>{{ video?.score }}</p>
  </mat-card-content>

</mat-card>