<mat-card class="card__video">

  <img mat-card-image [src]="video?.media" [alt]="video?.nom" class="bg-slate-100">

  <mat-chip-option class="card__duree">{{ video?.duree }}</mat-chip-option>

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ video?.nom }}</mat-card-title>
    <mat-card-subtitle>{{ video?.auteur?.auteurNom }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>{{ video?.nbVues }} visionnements - publié {{ video?.datePublication }}</p>
  </mat-card-content>

</mat-card>
<!--TODO Ajouter un avatar dans les Mock -->
<!-- TODO comment utiliser les exemple
  @Input()
selected: boolean
https://material.angular.io/components/chips/api
 -->
<!-- TODO comment mettre anglais/français -->

<!-- TODO ajouter logo comme image par default si pas d'image -->