.main-container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  border: none;
}
.sidenav__item {
  display: flex;
  margin: 10px 0;
}
.sidenav__item p {
  margin: 2px 0 0 12px;
  align-self: center;
  font-size: 16px;
}
/* TODO Menage du css */
