<div class="p-4 mt-6">

  <div class="text-center text-4xl my-8 py-4 border-b-2 border-blue-100">Administration</div>

  <div class="flex flex-col 2xl:flex-row">

    <!-- gauche -->
    <div class="2xl:basis-2/3 p-5">
      <div class="flex justify-start gap-5 border-b-2 border-blue-100 mb-6">
        <div [ngClass]="getClassTab('video')" (click)="onChangetab('video')">Vidéos</div>
        <div [ngClass]="getClassTab('avis')" (click)="onChangetab('avis')">Avis</div>
        <div [ngClass]="getClassTab('auteur')" (click)="onChangetab('auteur')">Auteurs</div>
      </div>
      <app-admin-video *ngIf="tab==='video'"></app-admin-video>
      <app-admin-avis *ngIf="tab==='avis'"></app-admin-avis>
    </div>

    <!-- droite -->
    <div class="2xl:basis-1/3 p-5 bg-blue-50 rounded-lg">
      <div class="flex flex-col items-center">
        <div class="text-2xl">Autres utilitaires</div>
        <div class="flex justify-center mt-6">
          <button (click)="openFormVideo()"
            class="bg-blue-500 rounded-lg px-20 py-5 text-white text-xl focus:scale-110 hover:scale-110 mr-6">
            Ajouter une vidéo
          </button>
        </div>
      </div>
    </div>

  </div>
