<div class="container-form bg-blue-50 rounded-lg">


  <form>

    <p class="text-center text-4xl">Ajouter une vidéo</p>

    <div class="grid grid-cols-12 ">

      <mat-form-field class="col-span-12">
        <mat-label>Nom</mat-label>
        <input matInput name="nom" [(ngModel)]="newVideo.nom">
      </mat-form-field>


      <mat-form-field class="col-span-12">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [(ngModel)]="newVideo.description"></textarea>
      </mat-form-field>

      <div class="col-span-12">Mettre les chips / catégories</div>

      <mat-form-field class="col-span-12">
        <mat-label>Code</mat-label>
        <input matInput name="code" [(ngModel)]="newVideo.code">
      </mat-form-field>

      <mat-form-field class="col-span-12">
        <mat-label>Date de publication</mat-label>
        <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="newVideo.datePublication">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- step="60" showTickMarks -->
      <mat-slider class="col-span-12" min="0" max="1800" discrete [displayWith]="formatLabel">
        <input matSliderThumb name="duree" [(ngModel)]="newVideo.duree">
      </mat-slider>
      <!-- <p>Durée: {{ formatLabel }}</p> -->
      <p>Durée: {{ dureeString }}</p>

      <div class="col-span-12">Sous titres : Select (options : Aucun, Sous titres, Sous titrage pour sourds et
        malentendants)</div>

    </div>

    <div class="col-span-12 flex justify-end">
      <button class="bg-blue-500 rounded-lg px-20 py-5 text-white text-xl focus:scale-110 hover:scale-110 mr-6"
        (click)="newVideoSubmit()">Soumettre</button>
    </div>


  </form>
  <p>Ce que j'inscrit: </p>
  <p>Nom: {{ newVideo.nom }}</p>
  <p>Description: {{ newVideo.description }}</p>
  <p>Média: </p>
  <p>Catérgories: {{ newVideo.categories }}</p>
  <p>Code: {{ newVideo.code }}</p>
  <p>Date de publication: {{ newVideo.datePublication }}</p>
  <p>Durée: {{ newVideo.duree }}</p>
  <p>Sous-titre: {{ newVideo.subtitle }}</p>

</div>