<app-header [utilisateur]="videos[0].auteur">
  <div class="w-[50px] flex flex-row justify-center ml-1">
    <button type="button" mat-icon-button (click)="drawer.toggle(); onToggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</app-header>

<mat-drawer-container class="main-container" autosize>

  <mat-drawer #drawer class="sidenav" [mode]="isLargeScreen ? 'side' : 'over'">
    <div class="flex flex-col justify-between h-screen">
      <app-menu-std></app-menu-std>
      <app-footer></app-footer>
    </div>
  </mat-drawer>

  <div class="flex flex-row bg-white">
    <app-menu-small *ngIf="!this.drawerToggle && !this.isSmallScreen"></app-menu-small>
    <div class="h-screen">
      <app-categories></app-categories>
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>


<!-- TODO corriger le header qui se cache -->
<!-- TODO corriger le la position du footere -->