<app-header class="header" [utilisateur]="utilisateur">
  <div class="w-[50px] flex flex-row justify-center ml-1 pb-6">
    <button type="button" mat-icon-button (click)="drawer.toggle(); onToggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</app-header>

<mat-drawer-container class="main-container" autosize>

  <mat-drawer #drawer class="sidenav" [mode]="isLargeScreen ? 'side' : 'over'">
    <div class="flex flex-col justify-between h-5/6">
      <app-menu-std></app-menu-std>
      <app-footer></app-footer>
    </div>
  </mat-drawer>

  <div class="flex flex-row bg-white">
    <div *ngIf="!this.drawerToggle && !this.isSmallScreen" class="basis-20 shrink-0">
      <app-menu-small class="fixed-menu"></app-menu-small>
    </div>


    <div class="container mx-auto px-5">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>