<div class="p-4 mt-6">

  <div class="text-center text-4xl my-8 py-4 border-b-2 border-blue-100">À propos de ce projet</div>

  <div class="text-2xl text-center my-6">J'ai pris plaisir à travailler sur ce projet. Cela m’a permis d’explorer et de
    rencontrer
    Angular, faire ma
    propre API
    et d’améliorer mon PHP. Chaque étape m'a permis d'explorer de nouvelles idées et de développer mes compétences.
  </div>
  <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae asperiores deleniti repellendus, ipsum ullam
    dolore quos aliquam alias dolor at atque rerum corrupti harum delectus commodi officiis magnam ea, unde sapiente
    nisi nihil! Facere asperiores omnis soluta cum eveniet totam repellat vitae similique aspernatur quas. Similique
    adipisci repellendus maxime rem dolore iure minus. Soluta quisquam ipsam quas nam impedit, facilis, adipisci
    incidunt quis, eius tempore eveniet. Deleniti, possimus numquam similique asperiores, nam soluta consectetur tempore
    optio fuga corrupti quidem officiis tempora voluptatem nulla ex vero? Ducimus voluptate dolorum est minima placeat
    aspernatur. Atque voluptas quia ipsam. Tempora, quaerat culpa. Quaerat.</div>
</div>
<!-- TODO temps améliorer cette page -->