<div class="flex flex-row items-center">
  <div>
    <img [src]="avatar" [alt]="avatarAlt" class="rounded-full h-10 w-10">
  </div>

  <div class="flex flex-col ml-4">
    <div class="flex flex-row">
      <p class="non-marging text-md">{{ utilisateur?.auteurNom || 'Anonyme' }}</p>
      <div class="flex flex-col justify-center px-3">
        <mat-icon *ngIf="utilisateur?.verifie" aria-hidden="false" aria-label="Example home icon"
          fontIcon="verified_user" class="text-red-600"></mat-icon>
      </div>

    </div>
    <p class="place-item-center non-marging text-slate-400 text-xs">{{ utilisateur?.utilisateur }}</p>
  </div>
</div>

<!-- TODO Faire un utilisateur pour le header -->